@import "containers.css";


body {
  font-family: Cantarell !important;
}

:root {
    --turquoise: #47DFD3;
    --keppel: #52C6AC;
    --light-orange: #EFC9A3;
    --wenge: #695B5B;
    --indian-red: #B46464;
}
